<div class="row p-4">
    <div class="col-md-8">
        <h2>
            NOVA ADMISSÃO COOPERADO
        </h2>
        <span class="navbar-text">

        </span>
    </div>
    <div class="col-md-4 ">
        <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0 justify-content-end">
            <li class="nav-item me-5">
                <a class="nav-link">
                    <fa-icon style="font-size: 36px; color: #1c5b7a;" [icon]="['far', 'bell']">
                    </fa-icon>
                    <span class="start-100 translate-middle badge rounded-pill bg-danger" style="margin-top: -10px;">
                      5
                    </span>
                </a>
            </li>
            <li class="nav-item me-5">
                <a class="nav-link">
                    <button class="btn btn-outline-primary rounded-3 btn-main-color mt-2 font-weigth-bold">Via Credi</button>
                </a>
            </li>
            <li class="nav-item me-5">
                <a class="nav-link">
                    <fa-icon style="font-size: 36px; color: #1c5b7a;" [icon]="faUser"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</div>
