.btn-primary.btn-main-color {
    background-color: #1c5b7a;
    border-color: #1c5b7a;
}

.btn-primary.btn-main-color:focus,
.btn-primary.btn-main-color:active,
.btn-primary.btn-main-color:hover {
    background-color: #1a506b;
    border-color: #1a506b;
    outline: none;
    box-shadow: none;
}

input:focus,
input:active,
input:hover {
    border-color: #1a506b;
    box-shadow: none;
}
