<div class="bg-sidebar p-3">
    <ul class="list-group text-center border-top-0 rounded-0" style="background: none !important;">
        <li class="list-group-item border-0 mx-auto">
            <img src="/assets/logo.png" class="w-100 d-flex justify-content-center">
        </li>
        <li class="list-group-item border-0">
            <a (click)="habilitaMenu()">
                <fa-icon class="text-white" style="font-size: 24px;" [icon]="faAlignJustify"></fa-icon>
            </a>
        </li>
        <li class="list-group-item border-0">
            <a [routerLink]="'/consultas'">
                <fa-icon class="text-white" style="font-size: 24px;" [icon]="faSearch"></fa-icon>
            </a>
        </li>
        <li class="list-group-item border-0">
            <fa-icon class="text-white" style="font-size: 24px;" [icon]="['far', 'star']"></fa-icon>
        </li>
        <li class="list-group-item border-0">
            <fa-icon class="text-white" style="font-size: 24px;" [icon]="faCommentDots"></fa-icon>
        </li>
        <li class="list-group-item border-0">
            <fa-icon class="text-white" style="font-size: 24px;" [icon]="faExchangeAlt"></fa-icon>
        </li>
        <li class="list-group-item border-0">
            <fa-icon class="text-white" style="font-size: 24px;" [icon]="faUniversity"></fa-icon>
        </li>
    </ul>

</div>
